*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.d
*.tra
*.dep
JLinkLog.txt
*.iex
*.htm
*.sct
*.map
*._2i
*.L2P
*.FED
*.args
*.mk
*.local

*.o
*.axf
*.elf
*.hex
*.bin

*.zip
